/*!
 * PiBox CSS
 * Author: MCHilli
 */

/* GLOBAL */
:root {
    --version: "2.0.5";
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --hover-color: #808080;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
    --box-shadow: 0px 0px 5px var(--box-shadow-color);
    --overlay-background: rgba(128, 128, 128, 0.2);
	--file-marker: hidden;
	--tracklist-marker: hidden;
    --directory-gap: 4px;
}
html {
	font-family: consolas, monospace, monospace;
	font-size: 12px;
    line-height: 14px;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.invisible {
	visibility: hidden;
    opacity: 0;
}
.no-select {
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.cursor {
    cursor: pointer;
}
.hover:hover,
.context-menu-hover,
.context-menu-hover:before {
    color: var(--hover-color) !important;
}
.hover-bg:hover {
    background-color: var(--hover-color) !important;
}
.transition,
.context-menu-item,
.context-menu-hover:before {
    transition: background .2s, color .2s, bottom .2s, right .2s !important;
}
.fa-2x {
    font-size: 32px;
}
.fa-5x {
    font-size: 80px;
}

/* HIDE CHROME SCROLLBAR */
::-webkit-scrollbar {
	width: 0px;
}

/* LAYOUT */
#layout {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto;
    position: fixed;
    height: 100%;
    width: 100%;
}

/* LOADING */
#loading {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin-left: 50px;
    background-color: var(--secondary-color);
    z-index: 10;
    transition: .5s;
}
#loading.fullscreen {
    margin-top: 0;
    margin-left: 0;
	z-index: 30;
}
#loading .loader {
    color: var(--primary-color);
    font-size: 20px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: loading 1.3s infinite linear;
}

/* LOGO */
#logo {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    cursor: help;
    z-index: 20;
}
#logo .logo {
    width: 40px;
    fill: var(--secondary-color);
}

/* TOPBAR */
#topbar {
    grid-column: 2;
    grid-row: 1;
	display: grid;
	grid-template-columns: fit-content(20px) fit-content(20px) auto fit-content(40px);
	grid-template-rows: auto auto;
	place-items: center;
    height: 50px;
    min-width: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
	padding: 0 5px;
    z-index: 20;
}
#topbar .position {
	grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
	padding-right: 5px;
}
#topbar .progress {
	grid-row: 1;
    grid-column: 3;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(left, var(--secondary-color) var(--progress), var(--primary-color) var(--progress));
    background: -ms-linear-gradient(left, var(--secondary-color) var(--progress), var(--primary-color) var(--progress));
    background: -o-linear-gradient(left, var(--secondary-color) var(--progress), var(--primary-color) var(--progress));
    background: -moz-linear-gradient(left, var(--secondary-color) var(--progress), var(--primary-color) var(--progress));
    background: -webkit-linear-gradient(left, var(--secondary-color) var(--progress), var(--primary-color) var(--progress));
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
#topbar .progress.infinite {
    background: repeating-linear-gradient(135deg, transparent, transparent 4px, var(--secondary-color) 4px, var(--secondary-color) 10px);
    animation: sliding 2s linear infinite;
}
#topbar .progress::-webkit-slider-thumb::before {
    content: attr(value) "%";
    display: block;
}
#topbar .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
}
#topbar .progress::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}
#topbar .progress::-moz-range-track {
    visibility: hidden;
}
#topbar .duration {
	grid-row: 1;
    grid-column: 4;
    text-align: center;
	padding-left: 5px;
}
#topbar .icon {
	grid-row: 2;
    grid-column: 1 / 2;
    width: 20px;
}
#topbar .info {
    grid-row: 2;
    grid-column: 2 / 5;
    place-self: center start;
    /* display: grid; */
    /* grid-template-columns: min-content auto; */
    display: flex;
    width: 100%;
    overflow: hidden;
}
#topbar .info .index {
    margin-right: 4px;
}
#topbar .info .title {
    white-space: nowrap;
    overflow: hidden;
}
#topbar .info .title div {
    width: fit-content;
}
#topbar .info .title.scrolling div {
    animation: scrolling 30s infinite linear;
    animation-delay: 5s;
}
#topbar .info .title.scrolling div::after {
    content: ' *** ' attr(title) ' *** ';
    white-space: pre;
}

/* SIDEBAR */
#sidebar {
    grid-column: 1;
    grid-row: 2;
    background-color: var(--primary-color);
    width: 50px;
    color: var(--secondary-color);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 20;
}
#sidebar .button {
    display: grid;
    place-items: center;
    height: 50px;
	width: 50px;
    touch-action: manipulation;
}
#sidebar .button i {
    grid-row: 1;
    grid-column: 1;
}
#sidebar .button .badge {
    grid-row: 1;
    grid-column: 1;
    place-self: end start;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-width: 15px;
    max-width: 38px;
    min-height: 24px;
    /* min-height: 20px; */
    margin-bottom: -4px;
    padding: 0 4px;
    /* padding: 0 2px; */
    /* border: 4px solid var(--secondary-color); */
    border-radius: 20px;
    font-weight: bold;
    overflow: hidden;
}
#sidebar .button .subbar {
    display: flex;
	flex-wrap: wrap;
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
    border: 4px solid var(--secondary-color);
    border-left: 0;
    /* box-shadow: var(--box-shadow); */
}
#sidebar .subbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--overlay-background); */
}

/* CONTENT */
#content {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--secondary-color);
    scroll-behavior: smooth;
    border: 4px solid var(--secondary-color);
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 0;
}
#content .path {
    display: flex;
    flex-flow: wrap;
}
#content .path .segment {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 24px;
    min-width: min-content;
    box-sizing: border-box;
    margin-bottom: 4px;
    padding: 5px 8px 5px 10px;
    font-weight: bold;
    overflow: hidden;
	text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    flex: 1;
}
#content .path .segment:first-child {
	padding-left: 5px;
}
#content .path .segment:last-child {
	padding-right: 5px;
}
#content .path .segment:not(:first-child)::before,
#content .path .segment:not(:last-child)::after {
    content: "";
    top: 0;
    display: block;
    position: absolute;
	transition: border-color .2s
}
#content .path .segment:not(:first-child)::before {
	left: 0;
    border-top: 12px solid var(--primary-color);
    border-bottom: 12px solid var(--primary-color);
    border-left: 5px solid var(--secondary-color);
}
#content .path .segment:not(:last-child)::after {
	right: 0;
    border-top: 12px solid var(--secondary-color);
    border-bottom: 12px solid var(--secondary-color);
    border-left: 5px solid var(--primary-color);
}
#content .path .segment:hover::after {
	border-left-color: var(--hover-color);
}
#content .path .segment:not(:last-child):hover::before {
	border-top-color: var(--hover-color);
	border-bottom-color: var(--hover-color);
}
#content .path .segment .name::before{
    font-family: 'Font Awesome 5 Free';
	font-weight: 900;
    content: "\f07b";
    margin-right: 8px;
}
#content .path .segment:last-child .name::before{
    content: "\f07c";
}
#content .directory {
    list-style-type: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: var(--directory-gap);
    place-items: center;
}
#content .directory.scroll-top:before {
    content: "";
}
#content .directory.scroll-top .return {
    position: fixed;
    top: 30px;
    left: 30px;
    transform: scale(0.75) translate(-15px , -22px) rotate(90deg);
    transition: transform .2s linear;
}
#content .directory.scroll-top .return .name {
	display: none;
}
#content .directory.scroll-top .return .icon i {
	background-color: var(--secondary-color);
    margin-left: -5px;
    border: 5.333px solid var(--secondary-color);
    border-radius: 50%;
    border-bottom-left-radius: 0;
    box-shadow: var(--box-shadow);
    transition: box-shadow .1s .2s;
}
#content .directory .segment {
    flex: 1;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px 40px;
}
#content .directory .segment:hover .name {
    overflow: visible;
    background: var(--secondary-color);
    height: fit-content;
    z-index: 10;
    padding-bottom: 4px;
}
#content .directory .segment .icon {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    width: 80px;
	color: var(--primary-color);
    place-self: center;
    display: grid;
    place-items: center;
}
#content .directory .segment.dir .icon:hover i:before {
	content: "\f07c";
}
#content .directory .segment .mark {
    grid-row: 1;
    grid-column: 1;
    -webkit-appearance: none;
    height: 100%;
    width: 80px;
    margin: 0 10px;
    cursor: cell;
    z-index: 20;
    visibility: var(--file-marker);
}
#content .directory .segment .mark:focus {
    outline: none;
}
#content .directory .segment .mark::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 65px;
    margin-left: 50px;
    background: var(--secondary-color);
    border: 4px solid var(--primary-color);
    box-sizing: border-box;
    box-shadow: 0 0 0 4px var(--secondary-color);
}
#content .directory .segment .mark:hover::before {
    border-color: var(--hover-color);
}
#content .directory .segment .mark:checked::before {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    content: "\f00c";
	color: var(--primary-color);
    display: grid;
    align-items: center;
	transition: border-color .2s;
}
#content .directory .segment .mark:checked:hover::before {
	color: var(--hover-color);
}
#content .directory .segment .badge {
    grid-row: 1;
    grid-column: 1;
    place-self: end;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-width: 15px;
    max-width: 35px;
    min-height: 20px;
    padding: 0 2px;
    border: 4px solid var(--secondary-color);
    border-radius: 20px;
    font-weight: bold;
}
#content .directory .segment .name {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    color: #000;
    text-align: center;
	word-break: break-word;
	overflow: hidden;
}

/* DIALOG */
#dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: var(--overlay-background);
    transition: .2s;
    z-index: 25;
}
#dialog .dialog {
    display: grid;
    grid-template-rows: 50px auto min-content;
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
}
#dialog .dialog .header {
    padding: 0 4px;
}
#dialog .dialog .header,
#dialog .dialog .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--secondary-color);
    background: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}
#dialog .dialog .footer .button {
    flex: 1;
    display: grid;
    place-items: center;
    height: 50px;
    min-width: 100px;
    margin: 0 4px;
    padding: 0 4px;
    text-transform: uppercase;
}
#dialog .dialog .content {
    display: grid;
    place-items: center;
    background-color: var(--secondary-color);
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
}
#dialog .dialog .content .value {
    display: block;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 4px;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border: 4px solid var(--primary-color);
    font-size: inherit;
}
#dialog .dialog .content .value:focus {
    outline: none;
}

/* VERSION DIALOG */
#dialog.version .dialog .content .version {
    display: grid;
    grid-template-columns: 130px 50px;
    grid-gap: 4px;
}

/* RANDOM DIALOG */
#dialog.random .dialog .content .random {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 4px;
    font-size: 3rem;
}
#dialog.random .dialog .content .random .counter {
    place-self: center;
    grid-column: 2 / 4;
    color: #000;
}
#dialog.random .dialog .content .random .button {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* THEME DIALOG */
#dialog.theme .dialog .content .theme {
    display: grid;
    grid-template-columns: 150px 100px;
    grid-gap: 4px;
    place-items: center start;
}
#dialog.theme .dialog .content .theme .button {
    -webkit-appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
}
#dialog.theme .dialog .content .theme .button:focus {
    outline: none;
}

/* SEARCH */
#search {
    grid-row: 2;
    grid-column: 2;
    place-self: end;
    position: relative;
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
    border-bottom-right-radius: 0;
    transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: var(--box-shadow);
}
#search:hover {
	margin-bottom: 0px !important;
	margin-right: 0px !important;
    opacity: 1 !important;
}
#search.slidedown{
	margin-bottom: -30px;
    margin-right: -30px;
    opacity: 0.2;
}
#search .icon {
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#search .badge {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-width: 12px;
    height: 24px;
    text-align: center;
    white-space: nowrap;
    line-height: 24px;
    border-radius: 24px;
    border: 4px solid var(--secondary-color);
    padding: 0 6px;
}

/* TRACKLIST */
#tracklist {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: min-content min-content auto;
    background-color: var(--secondary-color);
    overflow-y: hidden;
    margin: 4px;
    z-index: 15;
}
#tracklist .close {
    grid-row: 1;
    grid-column: 2;
    color: var(--primary-color);
    text-align: center;
}
#tracklist .header {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#tracklist .header .button {
    flex-grow: 1;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 30px;
    min-width: 100px;
    font-family: monospace;
    font-size: 1rem;
    border: 0;
    border-radius: 2em;
    margin: 0 4px 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tracklist .header .button:focus {
    outline: 0;
}
#tracklist .list-header {
    grid-row: 2;
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    grid-template-columns: 30px auto min-content;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    align-items: center;
    height: 30px;
    font-weight: bold;
}
#tracklist .list-header .duration {
    margin: 0 5px;
}
#tracklist .list {
    grid-row: 3;
    grid-column: 1 / 3;
    list-style-type: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    margin: 4px 0 0 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
#tracklist .list .track {
	position: relative;
    display: grid;
    grid-template-columns: 30px auto min-content;
    align-items: center;
    min-height: 30px;
    color: #000;
    text-align: start;
    touch-action: manipulation;
}
#tracklist .list .track:nth-child(odd) {
    background-color: var(--primary-color);
    color: #FFF;
}
#tracklist .list .track.playing .title {
	padding-left: 28px;
}
#tracklist .list .track.playing:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: 35px;
	border-width: 8px 0 8px 12px;
	border-style: solid;
	border-color: transparent;
	border-left-color: var(--primary-color);
	animation: playing 1s linear infinite;
}
#tracklist .list .track:nth-child(odd).playing:before {
    border-left-color: #fff !important;
}
#tracklist .list .track.playing.paused:before {
	border-style: double;
    border-width: 0 0 0 16px;
	animation: none;
}
#tracklist .list .track .index {
    text-align: right;
}
#tracklist .list .track .title {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
#tracklist .list .track .duration {
	padding: 0 5px;
    text-align: center;
}
#tracklist .list .track .mark {
	-webkit-appearance: none;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: cell;
    visibility: var(--tracklist-marker);
}
#tracklist .list .track .mark:checked:before {
    content: "\f2ed";
    width: 30px;
    height: 100%;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	text-align: center;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	display: grid;
	place-items: center;
    transition: .2s
}
#tracklist .list .track:nth-child(odd) .mark:checked:before {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
#tracklist .list .track .mark:checked:hover:before {
	background-color: var(--hover-color);
}
#tracklist .list .track .mark:checked:after {
    width: calc(100% - 30px);
    height: 100%;
    display: block;
    position: absolute;
    /* opacity: 0.6; */
    top: 0;
    right: 0;
    content: "";
    background: repeating-linear-gradient(25deg, transparent, transparent 10px, var(--secondary-color) 10px, var(--secondary-color) 15px);
}
#tracklist .list .track:nth-child(odd) .mark:checked:after {
    background: repeating-linear-gradient(155deg, transparent, transparent 10px, var(--primary-color) 10px, var(--primary-color) 15px);
}

/* CONFIG */
#config {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: min-content auto;
    background-color: var(--secondary-color);
    overflow-y: hidden;
    font-size: 1.2em;
    margin: 4px;
    z-index: 10;
}
#config .close {
    grid-row: 1;
    grid-column: 2;
    color: var(--primary-color);
    text-align: center;
}
#config .header {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    align-items: center;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 4px;
    padding-left: 4px;
    font-size: 1.5em;
    font-weight: bold;
}
#config .list {
    grid-row: 2;
    grid-column: 1;
    list-style-type: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    display: grid;
    grid-template-rows: repeat(auto-fit, 30px);
    place-items: center;
    color: #000;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
#config .list .setting {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 30px;
    align-items: center;
    text-align: right;
}
#config .list .setting input[type="text"],
#config .list .setting input[type="number"] {
    background-color: var(--secondary-color);
    color: #000;
    border: 1px solid var(--primary-color);
    padding: 0px;
}
#config .list .setting input[type="checkbox"] {
	display: block;
    -webkit-appearance: none;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    box-sizing: content-box;
    border: 1px solid #aaa;
    margin: 0 auto;
    background-color: var(--secondary-color);
    transition: background-color .2s linear;
	cursor: pointer;
}
#config .list .setting input[type="checkbox"]::before {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	background-color: var(--secondary-color);
	display: block;
	content: "";
	float: left;
	margin-right: 5px;
	transition: margin 0.1s linear;
	box-shadow: 0px 0px 0px 1px #aaa;
}
#config .list .setting input[type="checkbox"]:checked{
	background-color: var(--primary-color);
}
#config .list .setting input[type="checkbox"]:checked::before {
	margin-left: 20px;
}
#config .list .setting input:focus {
	outline: none;
}

/* TOAST */
#toast {
    grid-row: 2;
    grid-column: 2;
    place-self: end;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top: 4px solid var(--secondary-color);
    border-left: 4px solid var(--secondary-color);
    padding: 5px;
    word-break: break-word;
    box-shadow: var(--box-shadow);
    z-index: 35;
    transition: .5s;
}

/* KEYFRAMES */
@keyframes loading {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}
@keyframes sliding {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 14px 0;
    }
}
}
@keyframes scrolling {
    0% {
        transform: translateX(0px);
    }
    33%, 100% {
        transform: translateX(-50%);
    }
}
@keyframes playing {
	0% {
        margin-left: 35px;
    }
	50% {
        margin-left: 42px;
    }
	100% {
        margin-left: 35px;
    }
}

/* CONTEXT MENU */
.context-menu-list {
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    border: 4px solid var(--secondary-color);
}
.context-menu-item {
    color: var(--secondary-color);
}
.context-menu-separator {
    margin-left: -4px;
    margin-right: -4px;
    border-bottom: 4px solid var(--secondary-color);
}
.context-menu-icon.context-menu-icon--fa::before {
    font-size: 1em;
}


/* ANDROID PHONE DEVICES PORTRAIT*/
@media (pointer: coarse) and (orientation: portrait),
(max-width: 450px) {
    :root {
        --directory-gap: 0px;
    }
    #tracklist .header .button {
        height: 3em;
        min-width: 70px;
    }
    #tracklist .list-header,
    #tracklist .list .track {
        min-height: 3em;
        font-size: 1.1rem;
    }
    #tracklist .list .track .title {
        white-space: normal;
        margin: 5px 0;
        padding-left: 15px;
        text-indent: -10px;
        text-overflow: unset;
    }
    #tracklist .list .track.playing .title {
        padding-left: 38px;
    }
    #config .list {
        grid-column: 1 / 3;
        grid-template-rows: auto;
    }
    #config .list .setting {
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: 30px 30px;
    }
    .context-menu-item {
        padding: .5em 2.5em;
    }
    .context-menu-item.context-menu-separator{
        padding: 0;
    }
}

/* ANDROID PHONE DEVICES LANDSCAPE*/
@media (pointer: coarse) and (orientation: landscape) {
    #tracklist .header .button {
        height: 3em;
    }
    #tracklist .list-header,
    #tracklist .list .track {
        min-height: 3em;
        font-size: 1.1rem;
    }
    .context-menu-item {
        padding: .5em 2.5em;
    }
	.context-menu-item.context-menu-separator{
		padding: 0;
	}
}
